/* Mulish font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

/* shared styles */
:root {
    --primary-color: rgb(50, 151, 9);
    --secondary-color: rgb(255, 255, 255);
    --title-color: rgb(19, 19, 24);
    --paragraph-color: rgba(19, 19, 24, 0.7);
}

.container {
    max-width: 1140px;
    width: 75%;
    margin: 0 auto;
}

.primary-btn {
    padding: 16px 32px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.primary-btn:hover {
    background-color: black;
}

.primary-title {
    font-weight: 800;
    font-size: 2.3rem;
    color: var(--title-color);
}

.secondary-title {
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--title-color);
}

.primary-paragraph {
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondary-color);
}

.secondary-paragraph {
    font-weight: 400;
    font-size: 1rem;
    color: var(--paragraph-color);
}




/* ------------- */
/* navbar styles */
/* ------------- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0;
    background-color: #0C0404;
    border-radius: 10px;
}

.navbar .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navbar .logo img {
    width: 50px;
    height: 40px;
}

.logo h2 {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2rem;
}

.bar,
a {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 20px;
    color: var(--secondary-color);
}


/* ------------- */
/* navbar styles end */
/* ------------- */





/* ------------- */
/* banner styles */
/* ------------- */
#banner-part {
    margin-top: 70px;
}

.banner {
    text-align: center;
    padding: 100px 20px;
    background-image: url('../Images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    border-radius: 10px;
}

.banner>h1 {
    font-weight: 800;
    font-size: 4rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.banner>p {
    margin-bottom: 30px;
}

.booking {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.3);
    padding: 16px 0; */
    /* border-radius: 8px; */
}

.booking .input-style {
    display: flex;
    gap: 20px;
    padding: 16px 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.booking .input-style div input {
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.5);
}

/* ------------- */
/* banner styles end */
/* ------------- */






/* ------------- */
/* tour section styles */
/* ------------- */
#tour {
    margin-top: 70px;
}

.tours-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

/* .tours-section .tours-content h2{
    margin-bottom: 24px;
} */
.tours-section .tours-content p {
    margin: 30px 0;
}

.tours-section .tours-content ul {
    margin-left: 20px;
}

.tours-section .tours-content ul>li {
    margin-bottom: 16px;
}

.tours-img img {
    width: 100%;
}

/* ------------- */
/* tour section styles end */
/* ------------- */






/* ------------- */
/* destination section styles */
/* ------------- */
#destination {
    margin-top: 100px;
}

.destination-content {
    text-align: center;
}

.destination-content h2 {
    margin-bottom: 20px;
}

.destination-content p {
    margin-bottom: 40px;
}

.destination-img-part {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.destination-img-part .part {
    position: relative;
}

.destination-img-part .part p {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 1.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destination-img-part .part img {
    width: 100%;
}

/* ------------- */
/* destination section styles end */
/* ------------- */



/* ------------- */
/* why choose us section styles */
/* ------------- */
#choose {
    margin-top: 100px;
}

.choose-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
}

.choose-container-2 {
    max-width: 500px;
    margin: 0 auto;
}

.choose-details {
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    /* background-color: aqua; */
    padding: 30px;
}

/* ------------- */
/* why choose us section styles end */
/* ------------- */




/* ------------- */
/* sponsors styles */
/* ------------- */
#sponsorship{
    margin-top: 100px;
}
.sponsorship-title{
    margin-bottom: 60px;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}
/* .sponsor-company img{
    opacity: 0.5;
} */
/* ------------- */
/* sponsors styles end */
/* ------------- */







/* ------------- */
/* responsive styles */
/* mobile devices */
/* ------------- */
@media screen and (max-width: 600px) {

    /* nav styles */
    .navbar .logo {
        margin-right: 0;
        padding-left: 0;
    }

    .logo h2 {
        font-size: 1rem;
    }

    .navbar {
        flex-direction: column;
    }

    .bar,
    a {
        flex-direction: column;
        margin-right: 0px;
    }


    /* banner styles */
    .banner>h1 {
        font-size: 2rem;
    }

    .booking {
        flex-direction: column;
    }

    .booking .input-style {
        flex-direction: column;
    }

    .booking .input-style div>button {
        width: 100%;
    }


    /* tours section styles */
    .tours-section {
        flex-direction: column;
    }


    /* destination styles */
    .destination-img-part {
        flex-direction: column;
    }


    /* why choose us section styles */
    .choose-container{
        flex-direction: column;
    }


    /* sponsors styles */
    .sponsor-company{
        grid-template-columns: repeat(2, 1fr);
    }
}